@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchInput {
  width: 200px;
}

.navbar-brand {
  padding: 13px 15px;
}

footer {
  background: #333;
  color: #eee;
  font-size: 11px;
  padding: 20px;
}